#root { 
  max-width: full;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;

}
.search-container{
   display: flex;
  justify-content: flex-end;
}

.user-button{
  justify-content: space-between;
  display: flex;
}